# Python cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
node_modules
.pytest_cache/

# Логи
python/logs/
*.log

# Временные файлы
excalidraw/
.vscode/

# GitHub
.github/

# Test result
python/result.json

# Python 3.9 venv
python/venv/