.info-box {
  padding: 40px 60px;
  border-radius: 16px;
  max-width: 500px;
  margin: auto;
  text-align: center;
  flex: 1;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  background-color: #1c1c1c;
  color: white;
  
}

body.light-theme .info-box {
  background-color: #ffffff;
  color: #000000;
}
