
.check-box-base{
    background-color: #303030;
    border-radius: 8px;
    padding: 3px 3px;
    border: 2px solid #3f3f3f;
    box-shadow: 0 0px 16px rgba(0, 0, 0, 0.307);
}

.check-box-notify input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.check-box-notify {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 3px;
}


.checkmark {
  position: relative;
  box-shadow: rgb(116, 0, 0) 0px 0px 0px 2px;
  background-color: rgba(16, 16, 16, 0.5);
  height: 16px;
  width: 16px;
  margin-right: 8px;
  flex-shrink: 0;
  transition: all 0.2s ease 0s;
  cursor: pointer;
  transform-origin: 0px 8px;
  border-radius: 4px;
  margin: 0 8px 0 0;
  padding: 0px;
  box-sizing: border-box;
}
.check-box-notify input:checked ~ .checkmark {
  box-shadow: rgb(156, 1, 1) 0px 0px 0px 2px;
  background-color: rgb(112, 0, 0);
  height: 16px;
  width: 16px;
  margin-right: 8px;
  flex-shrink: 0;
  transition: all 0.2s ease 0s;
  cursor: pointer;
  transform-origin: 0px 8px;
  border-radius: 4px;
  margin: 0 8px 0 0;
  padding: 0px;
  box-sizing: border-box;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check-box-notify .checkmark:after {
  left: 0.25em;
  top: 0.05em;
  width: 0.32em;
  height: 0.6em;
  border: solid white;
  border-width: 0 0.18em 0.18em 0;
  transform: rotate(45deg);
  transition: all 300ms ease-in-out;
}

.check-box-notify input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-box-notify .checkmark:after {
  left: 0.25em;
  top: 0.05em;
  width: 0.32em;
  height: 0.6em;
  border: solid white;
  border-width: 0 0.18em 0.18em 0;
  transform: rotate(45deg);
  transition: all 300ms ease-in-out;
}

.check-box-notify-text {
  font-size: 12px;
  color: #ffffff;
  user-select: none;
}