@keyframes spin-hourglass {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.spin-hourglass {
  animation: spin-hourglass 4s ease-in-out infinite;
}
