.court-status-list-item {
  padding: 12px 16px;
  background-color: #2b2b2b;
  border: 1px solid var(--dark);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;    /* вертикальное центрирование */
  justify-content: space-between; /* горизонтальное распределение */
}
.court-status-list-item-label{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
}
.court-status-list-item-signal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 20%;
}

.court-status-list-item,
.court-status-list {
  overflow: visible !important;
}

body.light-theme .court-status-list-item {
  background-color: #ffffff;
  color: #000000;
}
body.light-theme .court-status-list-item-label{
  background-color: #ffffff;
  color: #000000;
}
body.light-theme .court-status-list-item-signal {
  background-color: #ffffff;
  color: #000000;
}