.court-check-status-list{
    list-style: none;
    margin-bottom: 10px;
}
.court-check-status-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: #474747;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    padding: 8px 12px;
    font-size: 14px;
}

.court-check-status-name {
    flex: 1 1 0;
    font-size: 14px;
}

.court-check-status {
    flex: 0 0 30%;
    color: #42a5f5;
    text-align: right;
    font-weight: bold;
}
/* Светлая тема */ 

body.light-theme .court-check-status-list{
    list-style: none;
    margin-bottom: 10px;
}

body.light-theme .court-check-status-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    border-radius: 12px;
    padding: 8px 12px;
    font-size: 14px;
}

body.light-theme .court-check-status-name {
    flex: 1 1 0;
    font-size: 14px;
}

body.light-theme .court-check-status {
    flex: 0 0 30%;
    color: #42a5f5;
    text-align: right;
    font-weight: bold;
    font-size: 14px;
}
