.court-check-status-list{
    list-style: none;
    padding: 0;
    margin: 0;
}


.court-check-status-name{
    border-bottom: none;
}

.court-check-status-name {
    font-weight: bold;
}

.court-check-status-name {
    color: #555;
}